<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="/">HOME</a>
	<hr>
	<ul>
		<li>
			<span>글번호</span>
			<span>제목</span>
			<span>조회수</span>
			<span>작성일</span>
		</li>
		<li th:each="dto : ${list}">
			<span th:text="${dto.no}">글번호</span>
			<span>
				<a href="#" th:text="${dto.title}">제목</a>
			</span>
			<span th:text="${dto.readCount}">조회수</span>
			<span th:text="${dto.updatedAt}">작성일</span>
		</li>
		<li th:if="${#lists.isEmpty(list)}">
			게시글이 존재하지 않아요!
		</li>
	</ul>
</body>
</html>